.white {
    color: white !important;
    margin: 5px 15px 0 15px;
}

.white-logo {
    filter: invert(100%) brightness(150%);
    margin-top: 5px;
}

#search {
    background-color: transparent;
    color: white;
    margin: 5px 20px 0 0;
}

#search::placeholder {
    color: white;
}

.btn-type-one {
    background-color: #F9A51A;
    padding: 5px 18px 5px 18px;
    border: none;
    border-radius: 5px;
    margin: 5px 15px 0 15px;
}