.login-section {
    background-color: transparent;
    margin: 5% 0 0 0;
}

.login-form {
    padding: 2%;
}

.login-btn {
    background-color: #F9A51A;
    padding: 9px 0 9px 0px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.login-card {
    border: none;
    border-radius: 4px;
}

.small-action{
    font-size: smaller;
    margin: 0;
}

.aux-btn {
    background-color: white;
    color: black;
    width: 300px;
    padding: 2%;
    border-radius: 60px;
}
#google-img {
    width: 20px;
    height: auto;
    margin: 0;
}

#fb-img {
    width: 23px;
    height: auto;
    margin: 0;
}

.aux-btn-text {
    margin: 0 0 0 18%;
}